/*
Error: Invalid CSS after "@": expected identifier, was "@import 'assets..."
        on line 1 of sass/main.scss

1: @@import 'assets/stylesheet/bootstrap.scss';
2: @@import '_variables.scss';
3: @@import '_mixin.scss';
4: @@import '_bases.scss';

Backtrace:
sass/main.scss:1
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1207:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1137:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1132:in `tok!'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:194:in `directive'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:684:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:674:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:125:in `stylesheet'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:41:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:406:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:298:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:294:in `watch'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:109:in `method_missing'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:356:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:51:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@\": expected identifier, was \"@import 'assets...\"\A         on line 1 of sass/main.scss\A \A 1: @@import 'assets/stylesheet/bootstrap.scss';\A 2: @@import '_variables.scss';\A 3: @@import '_mixin.scss';\A 4: @@import '_bases.scss';"; }
